@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #e2e8f0;
}

body {
  background: radial-gradient(circle at 10% 10%, #0f172a 0%, #020617 60%);
  color: var(--foreground);
  font-family: var(--font-source-sans), sans-serif;
}

* {
  border-color: rgb(51 65 85 / 1);
}
